th, td{
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}
table{
    margin: 0 auto;
}

body{
    background-image: url("./bg.jpg");
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
}

input[type=number]{
    background-color: #d4bd95;
    border: none;
    margin: 0 auto;
    text-align: center;
    size: 100px;
}

#controle{
    display: grid;
    grid-template-columns: 22% 7.5% 39.3% 31.2%;
    margin-bottom: 5px;
}

#seletor{
    grid-column: 1/2;
}

#checkracas{
    grid-column: 2/3;
}

.Celula_header{
    background-color: black;
    color: #d4bd95;
}

#pontos{
    background-color: rgb(172, 27, 27);
    color: #d4bd95;
}

#pontuacao{
    border: 3px solid rgb(172, 27, 27);
    grid-column: 3/4;
    width: fit-content;
    text-align: center;
    justify-self: end;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}